  table {
    margin-left: auto;
    margin-right: auto;
    width:900px;
    border-style: solid;
    border-width: 1px;
  }
  
  table tr {
    text-align: center;
  }
  
  table th, table td {
    text-align: center;
    border: solid 1px black;
    border-style: double;
    border-width: 2px;
  }

  .retrieval tr th:nth-child(1) {
    font-size: 150%;
    width: 50%;
    padding: 15px;
    background-color: aliceblue;
  }

  .retrieval tr th:nth-child(2) {
    font-size: 150%;
    width: 30%;
    padding: 15px;
    background-color: aliceblue;
  }

  .retrieval tr th:nth-child(3) {
    font-size: 150%;
    width: 20%;
    padding: 15px;
    background-color: aliceblue;
  }

  .foto_size {
    width: 450px;
    height: 500px;
  }

  .footer-font {
    color: #a3a3a3;
  }

  .large-div {
    background-color: #ffefd5;
  }

  .login-div {
    width:550px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color: #FFFFFF;
  }

  .twitter_login {
    background: #1DA1F2;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .submit {
    text-align: center;
    margin-bottom: 40px;
  }

  .middle-div {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size:20px;
  }

  .tyuou {
    text-align: center;
  }

  .white {
    color: #FFFFFF;
  }

  .red {
    color: red;
  }

  .blue {
    color: blue;
  }

  .logo {
    font-weight: bold;
    font-style: italic;
  }

  .logo::first-letter {
    font-size: 1.5em;
    color: #6b8e23;
  }

  .top-space-10 {
    margin-top: 10px;
  }

  .top-space-20 {
    margin-top: 20px;
  }

  .top-space-30 {
    margin-top: 30px;
  }

  .top-space-40 {
    margin-top: 40px;
  }

  .top-space-50 {
    margin-top: 50px;
  }

  